


<div data-sly-use.model="com.adobe.aem.may.batch.core.models.ArticlePropertiesModel"></div>

<div>
  <p>${model.articleTitle}</p>
  <p>${model.articleDescription}</p>
  <p>${model.articleNum}</p>
   <h1>PageName: ${model.articleTitle} <br></h1>
   <h1>PagePath: ${model.articlePagePath}<br> </h1>
   <h2>UserId :${model.webContentNode}</h2>

 <h4>Multifield Book Details:</h4>
    <sly data-sly-list.bookDetail="${model.bookDetailsWithChMap}">

        ${bookDetail.bookName}<br/>
         ${bookDetail.bookSubject}<br/>
        ${bookDetail.bookPublishDate}<br/>

        <h4>Nested Book Details:</h4>
          <sly data-sly-list.nested="${bookDetail.nestedField}">
             ${nested.text}<br/>
             ${nested.dsc}
          </sly>
    </sly>


